<footer>
  <div class="fullwidth clearfix">
    <div id="footercont" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
      <p class="backtotop"><a href="#backtotop"><span class="fa fa-angle-double-up"></span></a></p>
      <div id="socialmedia" class="clearfix">
        <ul>
          <li><a href="https://twitter.com/codefors" rel="external" target="_blank"><span class="fa fa-twitter-square"></span></a></li>
          <li><a href="https://github.com/opendata-stuttgart" rel="external" target="_blank"><span class="fa fa-github-square"></span></a></li>
          <!--<li><a href="#" rel="external"><span class="fa fa-rss-square"></span></a></li>-->
        </ul>
      </div>

      <p class="author-2">
        Free Responsive Website Template by
        <a title="download website templates" href="http://www.downloadwebsitetemplates.co.uk" rel="external" target="_blank">Download Website Templates</a>
        <br />
        Icons by
        <a href="http://fortawesome.github.io/Font-Awesome/" rel="external" target="_blank">Font Awesome</a>
      </p>

      <p class="author-2"><a href="impressum.html">Impressum</a></p>
    </div>
  </div>
</footer>
