<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="{{ page.lang }}"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="{{ page.lang }}"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="{{ page.lang }}"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="{{ page.lang }}"><!--<![endif]-->

  {% include head.html %}

  <body id="backtotop">
    {% case page.lang %}
    {% when 'de' %}
      {% include header-de.html %}
      {{ content }}
      {% include footer-de.html %}

    {% when 'en' %}
      {% include header-en.html %}
      {{ content }}
      {% include footer-en.html %}

    {% else %}
      {% include header-en.html %}
      {{ content }}
      {% include footer-en.html %}

    {% endcase %}
  </body>
</html>
